<div id="contenitore_principale">

  <div>
    <h6><b>Colore</b></h6>

    
    <input type="text" [(ngModel)]="testo_casella" placeholder="scrivere qualcosa">
    <br>
    <h6><b>Colore</b></h6>
    <input type="text" [(ngModel)]="testo_colore" placeholder="scrivere qualcosa">
    <br>
    <h6><b>Porte</b></h6>
    <input type="text" [(ngModel)]="testo_porte" placeholder="scrivere qualcosa">
    <button (click)="onClick()">Save</button>


  </div>
  

  <br>

  <div>

    <h6><b>Elemento salvato nella lista</b></h6>
    <p> {{testo_salvato}}</p>
  </div>
</div>
